/* Set global font family to monospace */
body, html {
    font-family: monospace;
    font-weight: bold;
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.snap-y {
    scroll-snap-type: y mandatory;
}

.snap-start {
    overflow: hidden;
}

/* Add hard light blend mode */
.hard-light-blend {
    mix-blend-mode: hard-light;
}
